flask
flask-sqlalchemy
opencv-python
mediapipe
deepface
psycopg2-binary
bcrypt
cryptography
python-dotenv
gunicorn
numpy
mediapipe
deepface
psycopg2-binary
gunicorn
flask
flask-sqlalchemy
python-dotenv